<div class="content-wrapper">
  <h1 class="text-red-800 text-4xl font-bold text-center">{{ section.settings.title }}</h1>
  <p class="text-center">{{ section.settings.sub_title }}</p>
</div>

{% schema %}
{
  "name": "Template 404",
  "tag": "div",
  "class": "flex justify-center h-screen w-full items-center",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "404 Heading Title"
    },

    {
      "type": "text",
      "id": "sub_title",
      "default": "Description",
      "label": "404 Description"
    }
  ]
}
{% endschema %}
