<!-- /templates/customers/reset_password.liquid -->

<div class="py-10 bg-gray-100" id="registerPage">
  <div class="login-section max-w-screen-sm mx-auto bg-white rounded-2xl px-4 py-10">
    <h1 class="text-center mb-5 text-3xl font-semibold text-gray-700">Reset Your Password Here</h1>

    {% form 'reset_customer_password' %}
      <div class="form-fields max-w-96 mx-auto">
        {% if form.errors %}
          <div class="py-3 mb-5 bg-gray-200 rounded p-3">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <div class="password mb-3">
          <label for="password" class="text-base font-medium pb-2 inline-block w-full">Password</label>
          <input
            class="inline-block w-full py-3 text-base border rounded px-3 outline-none"
            type="password"
            name="customer[password]"
            autocomplete="new-password"
          >
        </div>
        <div class="confirm_password mb-3">
          <label for="confirm_password" class="text-base font-medium pb-2 inline-block w-full">Confirm Password</label>
          <input
            class="inline-block w-full py-3 text-base border rounded px-3 outline-none"
            id="confirm_password"
            type="password"
            name="customer[password_confirmation]"
            autocomplete="new-password"
          >
        </div>

        <div class="submit">
          <input
            class="border cursor-pointer bg-gray-900 text-white hover:bg-white hover:text-gray-900 w-full inline-block font-medium py-3 px-6 transition-all duration-300"
            type="submit"
            value="Reset Your Password"
          >
          <a
            href="{{ routes.account_login_url }}"
            class="text-blue-700 w-full hover:bg-gray-100 rounded py-3 font-medium mt-3 block text-center border transition-all duration-300"
            >Go to Login page</a
          >
        </div>
      </div>
    {% endform %}
  </div>
</div>
