<div class="py-10 bg-gray-100" id="registerPage">
  <div class="login-section max-w-screen-sm mx-auto bg-white rounded-2xl px-4 py-10">
    <h1 class="text-center mb-5 text-3xl font-semibold text-gray-700">Register Here</h1>

    {% form 'create_customer' %}
      <div class="form-fields max-w-96 mx-auto">
        {% if form.errors %}
          <div class="py-3 mb-5 bg-gray-200 rounded p-3">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <div class="firstname mb-3">
          <label for="first_name" class="text-base font-medium pb-2 inline-block w-full">First Name</label>
          <input
            class="inline-block w-full py-3 text-base border rounded px-3 outline-none"
            id="first_name"
            type="text"
            name="customer[first_name]"
            autocomplete="given-name"
          >
        </div>

        <div class="lastname mb-3">
          <label for="last_name" class="text-base font-medium pb-2 inline-block w-full">Last Name</label>
          <input
            class="inline-block w-full py-3 text-base border rounded px-3 outline-none"
            id="last_name"
            type="text"
            name="customer[last_name]"
            autocomplete="family-name"
          >
        </div>

        <div class="gender mb-3">
          <label for="gender" class="text-base font-medium pb-2 inline-block w-full">Gender</label>
          <input
            class="inline-block w-full py-3 text-base border rounded px-3 outline-none"
            id="gender"
            type="text"
            name="customer[note][gender]"
            autocomplete="gender"
          >
        </div>

        <div class="dob mb-3">
          <label for="dob" class="text-base font-medium pb-2 inline-block w-full">Birthday</label>
          <input
            class="inline-block w-full py-3 text-base border rounded px-3 outline-none"
            id="dob"
            type="date"
            name="customer[note][dob]"
            autocomplete="dob"
          >
        </div>

        <div class="email mb-3">
          <label for="email" class="text-base font-medium pb-2 inline-block w-full">Email</label>
          <input
            class="inline-block w-full py-3 text-base border rounded px-3 outline-none"
            type="email"
            name="customer[email]"
            autocomplete="email"
          >
        </div>

        <div class="password mb-3">
          <label for="password" class="text-base font-medium pb-2 inline-block w-full">Password</label>
          <input
            class="inline-block w-full py-3 text-base border rounded px-3 outline-none"
            type="password"
            name="customer[password]"
            autocomplete="new-password"
          >
        </div>

        <div class="submit">
          <input
            class="border cursor-pointer bg-gray-900 text-white hover:bg-white hover:text-gray-900 w-full inline-block font-medium py-3 px-6 transition-all duration-300"
            type="submit"
            value="Create new account"
          >
          <a href="{{ routes.account_login_url }}" class="text-blue-700 w-full hover:bg-gray-100 rounded py-3 font-medium mt-3 block text-center border transition-all duration-300">Go to Login page</a>
        </div>
      </div>
    {% endform %}
  </div>
</div>
