<div class="max-w-screen-lg mx-auto py-10">
    <h1 class="text-4xl text-center font-bold mb-5">{{ section.settings.section_heading_title }}</h1>
    <p class="text-base text-gray-600 font-light">{{ page.content }}</p>
</div>

{% schema %}
{
  "name": "About us",
  "tag": "div",
  "class": "about-us",
  "settings": [
    {
      "type": "text",
      "id": "section_heading_title",
      "label": "Heading Title",
      "default": "No title"
    }
  ],
}
{% endschema %}
